@page "/admin"
@using Microsoft.AspNetCore.Authorization;
@using TicketHive.Client.Services;
@using TicketHive.Shared.Models;
@attribute [Authorize(Roles = "Admin")]
@inject IAppService appService;

<h3 class="text-center text-danger">Admin Area</h3>
<hr />

<div class="container">
    <div class="row">
        <div class="col-6">
<EditForm Model="newEvent" OnValidSubmit="SubmitEvent" OnInvalidSubmit="HandleInvalidSubmit">
<DataAnnotationsValidator/>
 <ValidationSummary/>
    <tr>
    <label for="name-input">Name</label>
    <InputText id="name-input" @bind-Value="newEvent.Name"/>
    </tr>
    <br />
    <tr>
    <label for="type-input">Category</label>
    <InputSelect id="type-input" @bind-Value="newEvent.Type">
        @foreach (var type in categories)
        {
            <option value="@type.ToString()">@type.ToString()</option>
        }
    </InputSelect>
    </tr>
    <br />
    <tr>
    <label for="date-input">Date</label>
    <InputDate id="date-input" @bind-Value="newEvent.Date" />
    </tr>
    <br />
    <tr>
    <label for="venue-input">Venue</label>
    <InputText id="venue-input" @bind-Value="newEvent.Venue" />
    </tr>
    <br />
    <tr>
    <label for="price-input">Price</label>
    <InputNumber id="price-input" @bind-Value="newEvent.Price" />
    </tr>
    <br />
    <tr>
    <label for="capacity-input">Capacity</label>
    <InputNumber id="capacity-input" @bind-Value="newEvent.Capacity" />
    </tr>
    <br />
    <input type="submit" value="Add" />
</EditForm>
        </div>
        <div class="col-6">
            <ul>
                @if(events == null)
                {
                    <h3>Fetching data from database...</h3>
                }
            </ul>
                @foreach (var happening in events)
                {
                    <li>
                        <h3>@happening.Name</h3>
                        <em>@happening.Date.Year-@happening.Date.Month-@happening.Date.Day</em>
                        <input type="submit" value="Remove" @onclick="@(async e => await RemoveEvent(@happening.Id))" />
                        <br />
                    </li>
                }
        </div>
    </div>
</div>

@code {
    public EventModel? newEvent { get; set; } = new();
    public List<string> categories = new();
    public List<EventModel>? events;

    protected override async Task OnInitializedAsync()
    {
        await GetEvents();

        @foreach(var type in Enum.GetNames(typeof(CategoryEnum)))
        {
            categories.Add(type);
        }
    }   

    private async Task GetEvents()
    {
        events = await appService.GetEventsAsync();
    }

    private async void SubmitEvent()
    {
        @if(newEvent != null)
        {
            await appService.PostEventAsync(newEvent);
            await GetEvents();
        }
    }

    private void HandleInvalidSubmit()
    {

    }

    private async Task RemoveEvent(int id)
    {
        var eventToRemove = id;

        await appService.DeleteEventAsync(eventToRemove);

        // Uppdatera display-listan med events
        events!.Remove(events.First(e => e.Id == id));
    }
}
