@page "/home"
@inject IAppService service
@inject ICartService cartService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@attribute [Authorize]


<AuthorizeView Roles="Admin">
	<button type="button" class="btn btn-danger btn-rounded" @onclick='() => navManager.NavigateTo("/admin")'>Go to Admin view</button>
</AuthorizeView>

<div class="text-center padding: 30px;" style="margin: 0px 0px 0px 70px;">
	<h1 class="card-title" style="text-align: center; ">Home Page</h1>
	
	@*--- SEARCH ---*@
	<div class="search">
		<input class="search-Input" 
			placeholder="Search event..." 
			style="text-align:center;" 
			type="text" @bind-value="searchWord" />
		<button class="searchButton text-center" @onclick="HandleSearchWord">Search</button>
	<div>
		@if (searchWord == null && errorMessage != null)
		{
			<em class="text-danger">@errorMessage</em>
		}
	</div>
	<hr style="margin: 30px 30px 60px 30px;"/>        
    </div>
	<div class="row" style="margin: 30px;">
        <div class="col-8">            
			<div class="row" style="background-color: white; padding: 30px;" >
                <h3 style="font-size: 2rem;">Your booked events</h3>
				<hr style="margin: 30px 0 20px 0"/>

				@if (groupedList is null || groupedList.Count() == 0)
				{
					<p>No events booked yet...</p>
					<p>Go to <a href="allEvents" style="text-decoration: none;">All events</a> to get tickets for your next event</p>
				}
				else
				{	
					@*--- VAD SOM PRINTAS OM MAN HAR BOKAT EVENT ---*@
					@foreach (var group in groupedList)
					{
						<div class="col-3 d-flex align-items-center d-flex justify-content-center">

							<img src=/images/Other/RättTicket.png style="height: 120px; width: 120px; align-content: center; " />
						</div>
						<div class="col-6 text-start d-flex align-items-center">
							<div>
								<h3 style="font-size: 25px; font-family: Verdana; margin-bottom: 10px;">Event: @group.First().Name </h3>
								<p style="font-size: 17px; font-family: Verdana; margin-bottom: 10px;">When: @group.First().Date.ToString("yyyy-MM-dd")</p>
								<p style="font-size: 17px; font-family: Verdana; margin-bottom: 10px;">Venue: @group.First().Venue </p>

							</div>
						</div>
						<div class="col-3 d-flex align-items-center d-flex justify-content-start" style="padding:5px;">
							<img src=/images/Other/Qkod.jpg style="height: 150px; width: 150px; align-content: center;" />
						</div>
						<hr style="margin: 20px 0 20px 0;" />
					}
				}
			</div>
		</div>
		@*--- PRINTA POPULÄRA EVENT ---*@
		<div class="col-4" style="background-color: #E0F2FF; padding: 0px 30px 30px 30px;  ">
			<div class="row">
				<h3 style="color: #305076; margin-bottom: 30px; font-size: 25px; font-family: Verdana;">Popular events</h3>				
				<div class="col-1"></div>
				<div class="col-10 text-center">	
					@if (PopularEvents is null)
					{
						<div class="spinner-border"></div>
					}
					else
					{
						@foreach (var e in PopularEvents)
						{
							@if(e.Id > 5 && e.Id <= 10 && !e.IsSoldOut)
							{
								<div class="container">
									<a href="eventDetails/@e.Id" Event="@e">
										<img src="@e.ImageUrl" style="width: 300px; height: 200px;" />
									</a>
									
									<hr style="background-color: transparent;" />
								</div>
							}

							else if (e.Id > 5 && e.Id <= 10 && e.IsSoldOut)
							{
								<div class="container">
									<img src="@e.ImageUrl" style="width: 300px; height: 200px; opacity:0.2;" />
									<button class="btn" style="width: 80%;  opacity: 1.0;">
										<a style="text-decoration: none; color: red; font-weight: bold; opacity: 1.0;" href="eventDetails/@e.Id" Event="@e">FULLY BOOKED</a>
									</button>
									
									<hr style="background-color: transparent;" />
								</div>
							}
						}
					}
					
				</div>
				<div class="col-1"></div>
			</div>
		</div>
	</div>
</div>
@*<BlazoredToasts/>*@

<style>
	.card-title {
		font-size: 3.5rem;
		color: #305076;
		margin-bottom: 0.5rem;
		text-transform: uppercase;
		text-align: start;
	}

	.search-Input {
		background-color: transparent;
		border-radius: 10px;
		height: 30px;
		margin: 20px 5px 20px 20px;
		width: 200px;
		border: 1px solid #18537a;
		position: relative;
		color: #305076;
		padding-left: 10px;
	}

	.searchButton{
		background-color: #D0E1ED;
		border-radius: 10px;
		height: 30px;
		margin: 20px 20px 20px 5px;
		width: 80px;
		border: 1px solid #18537a;
		position: relative;
		color: #305076;
		padding-left: 10px;
	}

	.container {
		position: relative;
		width: 110%;
	}

	.container img {
		width: 100%;
		height: auto;
	}

	.container .btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		background-color: transparent;
		color: white;
		font-size: 16px;
		padding: 12px 24px;
		border: none;
		cursor: pointer;
		border-radius: 5px;
	}

	.container .btn:hover {
		background-color: #305076;
	}
</style>

@code {
	private List<EventModel>? PopularEvents;
	private List<IGrouping<int, EventModel>>? groupedList;
	private List<CartItemsModel>? shoppingCart;

	private UserModel? _User { get; set; }
	private AuthenticationState? authState;
	private string? searchWord { get; set; }
	private string? errorMessage { get; set; }

	protected override async Task OnInitializedAsync()
	{
		authState = await authStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;
		if(user != null)
		{
				
			if (user.Identity!.IsAuthenticated)
			{
				_User = await service.GetUserByUsernameAsync(user.Identity.Name!);
				groupedList = _User!.UserEvents.GroupBy(e => e.Id).Select(grp => grp).ToList();
				PopularEvents = await service.GetEventsAsync();			
			}		
		}
	}


	protected async override Task OnParametersSetAsync()
	{
		await GetUserEvents();
	}

	private async Task GetUserEvents()
	{
		authState = await authStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;
		_User = await service.GetUserByUsernameAsync(user.Identity.Name!);
		groupedList = _User!.UserEvents.GroupBy(e => e.Id).Select(grp => grp).ToList();
	}

	/// <summary>
	/// search event and redirect to AllEvents-page 
	/// </summary>
	private void HandleSearchWord()
	{
		errorMessage = null!;
		if(searchWord != null)
		{
			navManager.NavigateTo($"/allevents/{searchWord}");
		}
		else
		{
			errorMessage = "Please enter a search word before pressing the button...";
		}
	}
}